/*蒙版的样式*/
.mask {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2999;
}

/*是否启用蒙版*/
.mask-active {
    display: block;
}

/*蒙版的出现动画*/
.mask-show {
    animation: maskShow 0.2s cubic-bezier(0.8, 0, 1, 1) both;
}

@keyframes maskShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*蒙版的隐藏动画*/
.mask-hide {
    animation: maskHide 0.2s cubic-bezier(0, 0, 0.2, 1) both;
}

@keyframes maskHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*侧边栏的样式*/
.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 247px;
    background-color: rgb(248 250 252);
    z-index: 3000;
    border-right: 1px solid rgba(0, 0, 0, .07)
}

/*侧边栏的出现动画*/
.drawer-show {
    animation: drawerShow 0.2s cubic-bezier(0.8, 0, 1, 1) both;
}

@keyframes drawerShow {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*侧边栏的隐藏动画*/
.drawer-hide {
    animation: drawerHide 0.2s cubic-bezier(0, 0, 0.2, 1) both;
}

@keyframes drawerHide {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}


